/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: "Roboto Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

:root {
    --color1: #FAF8F1;
    --color2: #70d6f5;
    --color3: #3391aa;
    --color4: #0b2232;

    --header-bg: var(--color4);
    --header-fg: var(--color1);
    --body-bg: var(--color3);
    --bottons-bg: var(--color1);
    --button-hover-bg: hsl(from var(--color3) h s calc(l + 4));
    --hover-hover-fg: var(--color1);
    --main-bg: var(--color4);
    --main-fg: var(--color1);
    --product-bg: var(--color2);
    --product-fg: var(--color4);
    --button-fg: var(--color3);
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

header img {
    padding: 1rem;
}

header h1 {
    padding: 2rem;
    font-size: 2.5rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-bg);
}

header {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    text-align: center;
    align-items: center;
    background-color: var(--header-bg);
    color: var(--header-fg);
}

@media (width <=670px) {
    header nav ul {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul {
        gap: 0.5rem !important;
    }
}

header nav {
    width: 100%;
}

header nav ul {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 3rem;
}

header nav ul li {
    background-color: var(--bottons-bg);
    height: 100%;
    flex-grow: 1;
    display: block;
    transition: all 200ms;
    border-radius: 10px;

}

header nav ul li:hover {
    background-color: var(--button-hover-bg);
}

header nav ul li a {
    text-decoration: none;
    color: var(--button-fg);
    padding: 0.7rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li:hover a {
    color: var(--hover-hover-fg);
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero {
    display: flex;

}

.hero div {
    padding-right: 8rem;
}

.block>*:not(:last-child) {
    /* Margina ezarri seme guztieei azkena izan ezik */
    margin-bottom: 1.5rem;
}

main article {
    color: var(--main-fg);
    background-color: var(--main-bg);
    box-shadow: var(--color4) 5px 5px 10px;
    padding: 1rem;
    border-radius: 10px;
}

.produktu-mota {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.produktu-mota h3 {
    border-bottom: var(--color1) solid 1px;
}

.produktuak {
    width: 100%;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.produktua {
    background-color: var(--product-bg);
    color: var(--product-fg);
    max-width: 250px;
    min-width: 100px;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.produktua-info {
    color: var(--product-fg) !important;
    padding: 0.5rem;
}

.produktua img {
    aspect-ratio: 1;
    width: 100%;
    /* Argazkia moztu ez bada sartzen */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    text-align: center;
    color: white;
}

.location {
    display: flex;

}

.location div {
    flex-grow: 1;
}

.location div ul {
    font-size: 1.3rem;
    padding-left: 2rem;
}

.location div ul li::marker {
    content: "📍 ";
}