/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Obitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}


:root {
    --color1: #FAF8F1;
    --color2: #70d6f5;
    --color3: #769ba5;
    --color4: #0b2232;

    --header-bg: var(--color4);
    --header-fg: var(--color1);
    --body-bg: var(--color3);
    --bottons-bg: var(--color4);
    --button-hover-bg: #3DA9C3;
    --button-fg: var(--color1);
    --hover-hover-fg: var(--color1);
    --main-bg: var(--color4);
    --main-fg: var(--color1);
    --product-bg: var(--color2);
    --product-fg: var(--color4);
}

h1,
h2 {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

h3,
h4 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-style: normal;
}

h2 {
    font-family: "Orbitron";
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: var(--color1);
    border-radius: 10px;
    color: var(--color4);
}

blockquote {
    text-align: center;
    padding: 0.5rem 0;
    font-family: "Orbitron";
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    background-color: var(--color1);
    box-shadow: 0px 0px 15px var(--color1);
    border-radius: 10px;
    color: var(--color4);
}

header {
    display: flex;
    flex-direction: row;
    gap: 1vw;

    text-align: center;
    align-items: center;
    background-color: var(--header-bg);
    color: var(--header-fg);

    padding: 0 1rem;
}


header img {
    padding: 0.5rem;
}

header h1 {
    font-size: 2.5rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-bg);
}

@media (width <=770px) {

    header,
    header nav ul,
    header nav ul li,
    article,
    .flex-row,
    .hero,
    .hero-div {
        flex-direction: column !important;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul li a {
        padding: 1rem 1rem !important;
    }

    header nav ul {
        gap: 0.5rem !important;
    }
}

@media (width <=850px) {
    .produktuak {
        grid-template-columns: auto auto auto !important;
    }
}

@media (width <=600px) {
    .produktuak {
        grid-template-columns: auto !important;
    }
}

header nav {
    height: 100%;
    flex-grow: 1;
}

header nav ul {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 1vw;
}

header nav ul li {
    background-color: var(--bottons-bg);
    height: 100%;
    flex-grow: 1;
    display: block;
    transition: all 200ms;
    border-radius: 10px;

}

header nav ul li:hover {
    background-color: var(--button-hover-bg);
}

header nav ul li a {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--button-fg);
    padding: 0.7rem 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li:hover a {
    color: var(--hover-hover-fg);
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main img {
    max-width: 100%;
    height: auto;
}

main article {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    color: var(--main-fg);
    background-color: var(--main-bg);
    box-shadow: var(--color4) 5px 5px 10px;
    padding: 1rem;
    border-radius: 10px;
}


.hero-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around
}


.block>*:not(:last-child) {
    /* Margina ezarri seme guztieei azkena izan ezik */
    margin-bottom: 1.5rem;
}


.produktu-mota {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.produktu-mota h3 {
    border-bottom: var(--color1) solid 1px;
}

.produktuak {
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.produktua {
    background-color: var(--product-bg);
    color: var(--product-fg);
    max-width: 250px;
    min-width: 100px;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.produktua-info {
    color: var(--product-fg) !important;
    padding: 0.5rem;
}

.produktua img {
    aspect-ratio: 1;
    width: 100%;
    /* Argazkia moztu ez bada sartzen */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    text-align: center;
    color: white;
    margin-top: auto;
    background-color: var(--color4);
    padding: 1rem;
}

footer a {
    color: white;
}

.location {
    display: flex;
    max-width: 2000px;
}

.location div {
    flex-grow: 1;
}

.location div ul {
    font-size: 1.3rem;
    padding-left: 4rem;

}

.location div ul li::marker {
    content: "📍 ";
}

.location iframe {
    flex-grow: 1;
    width: 100%;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.produktua:hover {
    opacity: 1;
    transform: translateY(-10px);
}

.produktua {
    transform: translateY(0);
    transition: transform 0.2s ease;
}

.guri-buruz article {
    max-width: 1000px;
    align-self: center;
    justify-content: center;
    align-items: center;
}